#loginPage {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#mainLoginText {
    background:none ;
}
/* child */
#mainLoginButton {
    position: relative;
    top: 37%;
    background: none;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 10px;
    background-color: #0076B5;
    color: whitesmoke;
    height: 45px;
    align-items: center;
    font-size: 15px;
    border-top: 5px solid #FEFEFE; ;
    border-left:none ;
    border-right:none ;
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* parent */
#loginBox {
    position: relative;
    top: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #BBCFD0;
    border: 5px solid #FEFEFE;
    border-radius: 15px;
    height: 175px;
    width: 525px;
}

#logoBox {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    margin-top: 100px;
    overflow: hidden;
}

#logoPic {
    max-height: 300px;
    max-width: 650px;
}

/* @media only screen and (max-height: 450px) {
    #logoPic {
        display: none;
    }
} */